# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# =========================
# Virtual environments
# =========================
venv/
.env/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# DATA (MUY IMPORTANTE)
# =========================

# SHAP imágenes (NO subir)
reports/shap_local/

# Resultados masivos
reports/results/

# PDFs generados
*.pdf

# Datos raw (si pesan mucho)
data/raw/

# =========================
# OPCIONAL
# =========================
# Si quieres ignorar modelos entrenados
models/

# =========================
# PERO SÍ QUEREMOS ESTO
# =========================
!reports/llm_local/
!reports/llm_local/local_llm_explanations.csv