# Python
__pycache__/
*.pyc

# Data
data/raw/
data/interim/

# Models
models/
models_log/

# Reports
reports/shap/
reports/shap_local/
reports/shap_local_v2/
reports/llm_local/
reports/llm_local_v2/

# Streamlit cache
.streamlit/

# OS
.DS_Store
Thumbs.db